body {
    font-family: Arial, sans-serif;
    background-color: #eee;
    padding: 40px;
}


header, nav, section, aside, article, footer {
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 15px;
    background: white;
    text-align: center;
}

.row {
    display: flex;
    gap: 15px;
    align-items: stretch;
}


section {
    flex: 3;
}


aside {
    flex: 1;
}